
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Header{
    Trang Chủ
    }
<div class="form-group">
            <h2>Nội dung trang chủ</h2>
</div>
    