
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Header{
    Trang Chủ
    }
<div class="form-group">
    <h2>Nội dung trang chủ</h2>
    <input class="btn btn-danger" type="button" value="Xem danh sách người dùng" onclick="location.href='@Url.Action("Index", "User")'" />
    <input class="btn btn-danger" type="button" value="Tạo mới người dùng" onclick="location.href='@Url.Action("Create", "User")'" />
</div>
    